<div class="actions" *ngIf="Order">

    <table>
        <thead>ORDER DETAILS:</thead>
        <tbody>
            <tr><td><span class="fa fa-user"></span> {{ Order?.name}}</td><td><span class="fa fa-home"></span> {{ order?.room }}</td></tr>
        </tbody>
    </table>
    <table>
        <thead>
            <th>Drinks:<th>
            <th>Quantity</th>
        </thead>
        <tbody>
            <tr>
                <td>1. {{ Order?.item }} :</td><td class="q">&nbsp;&nbsp;{{ order?.quantity }} </td>
            </tr>
            <tr>
                <td>2. {{ Order?.item2 }} :</td><td class="q">&nbsp;&nbsp;{{ order?.quantity2 }}</td>
            </tr>
            <tr>
                <td>3. {{ Order?.item3 }} :</td><td class="q">&nbsp;&nbsp;{{ order?.quantity3 }}</td> <br/>
            </tr>
            <tr><td>Total Quantity: </td><td>&nbsp;&nbsp;{{order?.quantity + order?.quantity2 + order?.quantity3}}</td></tr>
        </tbody>
    </table>
    {{ order?.id }}
        <table>
            <thead>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td><button (click)="AcceptOrder(order)" class=" accept"><i class="fa fa-check"></i> Accept</button></td>
                    <td><button (click)="DeclineOrder(order)" class=" decline"><i class="fa fa-times"></i> Decline</button></td>
                    <td><button (click)="CompleteOrder(order)" class=" complete"><i class="fa fa-check-circle"></i>Complete</button></td>
                </tr>
            </tbody>
        </table>
</div>
