<div class="container" align="center">
  <div class="header">
    <h1> <span class="fa fa-coffee"></span> ORDER MY DRINK</h1>
  </div>
  <div class="body"  onload="hideLoader()">
    <div class="status">
      <h1>Order Status: <span *ngIf="orderStatus">{{ ( orderStatus | async)?.status }}</span></h1>
      <br />
      <br/>
      <button [routerLink]="['/order']" *ngIf="( orderStatus | async)?.status =='Completed'" class="btn btn-success">Main Menu</button>
      <button [routerLink]="['/order']" *ngIf="( orderStatus | async)?.status =='Declined'" class="btn btn-danger">Main Menu</button>
    </div>
  </div>

</div>
