<div class="container">
<h1 class="header"><span class="fa fa-coffee"></span> COFFEE DRINKS</h1>
<br>
<div class="alert alert-dark" role="alert">
 <h1>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="radio" name="options" [routerLink]="['/completedorders']" id="option1" autocomplete="off" checked> Completed Orders
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" [routerLink]="['/declinedorders']" id="option2" autocomplete="off"> Declined Orders
        </label>
        <label class="btn btn-secondary active">
          <input type="radio" name="options"  [routerLink]="['/kitchen']" id="option3" autocomplete="off"> New Orders
        </label>
        <label class="btn btn-secondary ">
            <input type="radio" name="options"  [routerLink]="['/addusers']" id="option3" autocomplete="off"> New Users
          </label>
      </div>
    </h1>
</div>

<div class="row">
  <div class="col-md-5">
    <table [hidden]="OrderDetails || OrderStatus" class="active table table-hover">
  <thead class="thead-light ">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Room</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="getOrder(order.id)" class="order" *ngFor="let order of orders | async">
      <td>{{ order.data.name}}</td>
      <td>{{ order.data.room}}</td>
      <td>{{ order.data.date | date: "medium"}}<br/>
        </td>
    </tr>
    </tbody>
  </table>

  <table [hidden]="OrderStatus" *ngIf="OrderDetails" class="active table">
    <thead class="thead-light ">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Room</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order" *ngFor="let order of orders | async">
        <td>{{ order.data.name}}</td>
        <td>{{ order.data.room}}</td>
        <td>{{ order.data.date | date: "medium"}}<br/></td>
      </tr>
      </tbody>
    </table>

    <table *ngIf="OrderStatus" class="active table">
        <thead class="thead-light ">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Room</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="order" *ngFor="let order of orders | async">
            <td>{{ order.data.name}}</td>
            <td>{{ order.data.room}}</td>
            <td>{{ order.data.date | date: "medium"}}<br/></td>
          </tr>
          </tbody>
        </table>
  </div>
  <div class="col-md-7">
   <div class="order">

    <table class="active table">
      <thead class="">
        <tr>
          <th scope="col">ORDER DETAILS:</th>
          <th scope="col">&nbsp;&nbsp;</th>
        </tr>
      </thead>
        <tbody *ngIf="OrderDetails">
        <tr class="order" >
          <th scope="row">

            Name: &nbsp;{{ (OrderDetails | async)?.name }} <br/>
            Room:&nbsp;{{ (OrderDetails | async)?.room }}<br/>
            Tea:&nbsp;{{ (OrderDetails | async)?.quantity }}<br/>
            Coffee:&nbsp;{{ (OrderDetails | async)?.quantity2 }}<br/>
            Water:&nbsp;{{ (OrderDetails | async)?.quantity3 }}<br/>
            Date:&nbsp;{{ (OrderDetails | async)?.date| date: "medium" }}<br/>
          </th>
          <td>
            <button (click)="AcceptOrder(OrderID)" class="btn btn-success">Accept Order</button><br/>
            <br/><button (click)="DeclinedOrder(OrderID)" class="btn btn-danger">Decline Order</button></td>
        </tr>
        </tbody>

        <tbody *ngIf="OrderStatus">
          <tr class="order" >
            <th scope="row">
              Name: &nbsp;{{ (OrderDetails | async)?.name }} <br/>
              Room:&nbsp;{{ (OrderStatus | async)?.room }}<br/>
              Tea:&nbsp;{{ (OrderStatus | async)?.quantity }}<br/>
              Coffee:&nbsp;{{ (OrderStatus | async)?.quantity2}}<br/>
              Water:&nbsp;{{ (OrderStatus | async)?.quantity3 }}<br/>
              Date:&nbsp;{{ (OrderStatus| async)?.date| date: "medium" }}<br/>
            </th>
            <td>
              <br/><button (click)="CompleteOrder(OrderID)">Complete Order</button><br/>
          </tr>
          </tbody>
      </table>
   </div>
  </div>
</div>

</div>

