<div class="container">
    <h1 class="header"><span class="fa fa-coffee"></span> ORDER MY DRINK</h1>
    <br>
    <div class="alert alert-dark" role="alert">
     <h1><div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="radio" name="options" [routerLink]="['/completedorders']" id="option1" autocomplete="off" checked> Completed Orders
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" [routerLink]="['/declinedorders']" id="option2" autocomplete="off"> Declined Orders
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options"  [routerLink]="['/kitchen']" id="option3" autocomplete="off"> New Orders
        </label>
        <label class="btn btn-secondary  active">
            <input type="radio" name="options"  [routerLink]="['/addusers']" id="option3" autocomplete="off"> New Users
          </label>
      </div>
        </h1>
      </div>
  <div>
    <h1>Add New Employee:</h1>
  </div>
  <form class="form-horizontal" [formGroup]="userForm" novalidate>
    <div class="form-group">
      <div class="col-sm-12">
          <div (click)="refresh()" *ngIf="userSuccess == 'Success' " class="errors alert alert-success" role="alert">
              <strong>Well done!</strong> You successfully added your employee.
            </div>
        <label class="control-label">Employee</label>
        <input type="text" id="user" formControlName="user" class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="employeeName@is.co.za" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
          <button [disabled]="!userForm.valid" type="submit" type="submit" (click)="AddUser()" class="btn btn-primary">Add a user</button>
      </div>
    </div>
  </form>

  <br/>
  <h1>Add New Room:</h1>
  <form  class="form-horizontal" [formGroup]="roomForm" novalidate>
      <div class="form-group">
        <div class="col-sm-12">
          <label class="control-label">Room / Office</label>
          <input type="text" id="newroom" (click)="refresh()" formControlName="newroom" class="form-control" required>
          <div (click)="refresh()" *ngIf="roomSuccess == 'Success' " class="errors alert alert-success" role="alert">
            <strong >Well done!</strong> You successfully added your room.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button [disabled]="!roomForm.valid " type="submit" (click)="AddRoom()" class="btn btn-primary" required>
             Add a room
          </button>
        </div>
      </div>

    </form>
</div>

